/* AnalysisDashboard.css */

.analysis-box{
    margin-top:40px;
}

.dashboard{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 420px), 1fr));
    /* grid-template-columns:repeat(auto-fit,minmax(420px,1fr)); */
    gap:25px;
}